# SQLite (por defecto)
PORT=3000
NODE_ENV=development
DB_DIALECT=sqlite
DB_STORAGE=./data/data.sqlite
MESES_VISIBLES=6

# MySQL (descomentar y ajustar para cambiar de base de datos)
# DB_DIALECT=mysql
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=anti-social
# DB_USER=root
# DB_PASSWORD=1234
